#aboutDiv {
  position: relative;
}
#about {
  position: relative;
  list-style: none;
}

#aboutDiv h2 {
  font: 700;
  /* font-size: 8rem; */
  position: relative;
  text-decoration: none;
}

#aboutDiv div h2::before {
  content: attr(data-text);
  position: absolute;
  color: #700000;
  width: 0;
  overflow: hidden;
  border-right: 3px solid #700000;
  transition: 1s;
}

#aboutDiv div h2:hover::before {
  width: 100%;
}
