#regAnimation {
  position: relative;
  overflow: hidden;
  width: 40vw;
  margin-top: 50px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#regAnimation::before {
  content: '';
  background-image: conic-gradient(#ff0000 20deg, transparent 120deg);
  width: 350%;
  height: 350%;
  position: absolute;
  animation: rotate 10s linear infinite;
}

#regAnimation::after {
  content: '';
  width: 39.7vw;
  height:99%;
  background: #111;
  position: absolute;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}


@media (max-width: 576px) {
  #regAnimation {
    width: 35vw;
  }
  #regAnimation::after {
    width: 34.7vw;
  }
}
@media (min-width: 1350px) {
  #regAnimation {
    width: 30vw;
  }
  #regAnimation::after {
    width: 29.7vw;
  }
}
