#regAnimation {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 450px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#regAnimation::before {
  content: '';
  background-image: conic-gradient(#ff0000 20deg, transparent 120deg);
  width: 350%;
  height: 350%;
  position: absolute;
  animation: rotate 10s linear infinite;
}

#regAnimation::after {
  content: '';
  width: 368px;
  height: 448px;
  background: #111;
  position: absolute;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media screen and (max-width: 576px) {
  #regAnimation {
    width: 345px;
  }
  #regAnimation::after {
    width: 343px;
  }
}
