.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 6rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 80vw;
  height: 25rem;
}

.swiper-slide img {
  display: block;
  width: 80vw;
  height: 100%;
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, #0000001a, #0000005d);
}

.mySwiper .swiper-button-prev {
  color: #800000;
}

.mySwiper .swiper-button-next {
  color: #800000;
}

.mySwiper .swiper-pagination-bullet {
  background-color: #800000;
  font-weight: 900;
}

@media (max-width: 768px) {
  .swiper {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 65px;
  }

  .swiper-slide {
    width: 60vw;
    height: 20rem;
  }

  .swiper-slide img {
    display: block;
    width: 58vw;
  }
}

@media (min-width: 769px) {
  .swiper {
    width: 90%;
    padding-top: 32px;
    padding-bottom: 65px;
  }

  .swiper-slide {
    width: 60vw;
    height: 20rem;
  }

  .swiper-slide img {
    display: block;
    width: 65vw;
    object-fit: cover;
  }
}
