/* .nav-ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
} */

.nav-ul {
  list-style: none;
}

#nav {
  position: relative;
  display: block;

  padding: 5px 20px;
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  /* font-size: 18px; */
  font-weight: 600;
  transition: 0.5s;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #800000;
    border-bottom: 2px solid #800000;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
  }
  &:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #800000;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      transform: scaleY(1);
      opacity: 1;
    }
    &:after {
      transform: scaleY(1);
      opacity: 1;
    }
  }
}
